*{
  margin: 0px; 
}
#sidebar{
  background-color: $primary-black;
  width: 100vw;
  height: 70px;
  top: 0;
  position: fixed;
  transition: all .8s ease;
  -webkit-transition: all .8s ease; 
  z-index: 1000;
  @include xl{
    width: 70px;
    height: 100vh;
  }
  .sidebar-title{
    display: none;
    text-transform: capitalize;
    @include xl{
      transform: rotate(-90deg);
      position: absolute;
      color: white;
      right: 0;
      left: 0;
      font-size: 24px;
      top: 50%;
      display: block;
    }
  }
}
#navigation-menu {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
  @include xl{
    height: 100%;
  }
  color: #fff;
  overflow: hidden;
  @include xl{
    -webkit-transition: width .8s;
    transition: width .8s;
  }
  
  z-index: 999;
  }
.main-container{
    .menu-opened{
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
    }
    
    #current-page {
      position: relative;
      color: $primary-black; 
      margin-top: 70px;
      margin-left: 0;
      overflow: auto;
      @include xl{
        margin-top: 0;
      }
    }       
}




       

.pageOpen{
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  width: 100%;
  height: 100%;
}
.pageClose{
  height: 70px;
  @include xl{
    width: 70px;
  }
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.sidebarClose {
  transform: translateY(0px);
  @include xl{
  transform: translateX(0px);

  }
}

.sidebarOpen {
  transform: translateY(-70px);
  @include xl{
  transform: translateX(-70px);

  }
}
