.container{
    @include xs{
        padding: 40px 16px 80px 16px;
    }
    @include xl{
        padding: 40px;
        padding-left: 80px;
    }
}

// Typography
.justify{
    text-align: justify;
}
.text-right{
    text-align: right;
    padding-right: 70px;
}
.text-left{
    text-align: left;
}


// Gutters
.MuiGrid-spacing-xs-2.MuiGrid-root{
    width: 100%;
    margin: 0;
}

.no-scroll{
    overflow: hidden;
    position: fixed;
    height: 100%;
}
.scroll{
    overflow: unset;
    position: relative;
    height: 100%;
}