.contact{
    @media (orientation:landscape) and (max-width:900px) {
    padding-top: 120px;
        
    }
    @include xl{
        width: calc(100vw - 127px);
        padding-top: 120px;
    }
    @extend .container;
    @include xl{
        padding-left: 70px;
    }
    .contact-box{
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px 16px;
        h2{
            font-weight: 200;

            @include mmd{
                font-size: 38px;
            }
        }
        @include msm{
            padding: 40px 60px;
        }
        @include md{
            padding: 40px 160px 40px;
            margin: auto;

        }
        @include xl{
            padding: 40px 160px 40px 200px;
            margin: auto;
        }
        .contact-grid{
            margin: 1px;
            .contact-field-container{
                margin-bottom: 20px;
                padding-right: 0;
                .MuiTextField-root{
                    width: 100%;
                    text-transform: uppercase;
                    .MuiFormLabel-root{
                        text-transform: uppercase;
                        color: $primary-black;
                    }
                    .MuiInputBase-input{
                        text-transform: uppercase;
                        &::placeholder{
                            color: $primary-black;
                            opacity: 1;
                        }

                    }
                    .MuiFormLabel-root.Mui-focused{
                        color: $primary-grey;
                    }
                }
                .MuiSelect-select:focus{
                    background-color: white;
                }
                
                .MuiInput-underline:after{
                    border-bottom: 2px solid $primary-grey;
                }
            }
            textarea{
                width: 100%;
                margin-top: 20px;
                border: .5px solid $primary-grey;
                &:focus{
                    border: .5px solid $primary-black;
                }
            }
        }
        .button-row{
            display: flex;
            justify-content: space-between;
            padding-left: 8px;
            .MuiButton-label{
                border-bottom: 1px solid $primary-black;
            }
            .MuiTypography-root{
                font-size: $xsmall-font;
            }
            .MuiCheckbox-colorPrimary.Mui-checked{
                color: $primary-black;
            }
        }
        
    }
}