.testimonial{
    padding-top: 70px;
    width: 100vw;
    padding-bottom: 140px;
    @include xl{
        padding-top: 0;
        padding-bottom: 280px;
    }
    @include xxl{
        padding-bottom: 340px;
    }
    @media (max-width: 768px) and (min-height: 1024px){
    padding-bottom: 340px;

    }
    .testimonial-banner{
        .banner{
            vertical-align: bottom;
        }
    }
    .testimonial-content{
        padding-bottom: 40px;
        font-size: $small-font;
        @include xl{
        padding-left: 70px;
        padding: 20px;
        padding-top: 40px;
        }
        @include xxl{
            padding-top: 140px;
        }
        .slider-container{
            text-align: center;
            padding-top: 120px;
            .slider-text-container{
                color: $primary-brown;
                font-family:    $baskerville-thin ;
                @include xl{
                    font-size: $large-font;
                }
                @include xxl{
                    font-size: $xlarge-font;
                }
                .person{
                    margin-top: 40px;
                    text-transform: uppercase;
                    font-style: italic;
                }
            }

            .slick-slider{

                @include rwd(300, 768){
                    padding: 0 40px;
                }
                @include mmd{
                    padding: 20px 40px 0;
                }
                .slick-arrow{
                    position: absolute;
                    top: 30%;
                    width: 40px;
                    z-index: 2;
                    &:hover{
                        cursor: pointer;
                    }
                    img{
                        width: 15px;
                    }
                }
                .left-arrow{
                    @include xs{
                        left: 0;
                    }
                    @include md{
                        // left: -10px;
                        left: 50px;
                    }
                    @include mmd{
                        left: 130px;

                    }
                    @include rwd(1200,1300){
                        left: 80px;
                    }
                   
                }
                .right-arrow{
                    @include xs{
                        right: 0;
                    }
                    @include md{
                        right: 50px;

                    }
                    @include mmd{
                        right: 130px;

                    }
                    
                    @include rwd(1200,1300){
                        right: 80px;
                    }
                    
                }
            }
        }
    }
}