.uncut-diamonds{
    @include rwd(300,599){
    padding-top: 70px;

    }
    @include xl{
        padding-left: 70px;
        padding-top: 0;
    }
    .slick-list{
        height: 100vh;
        @include rwd(300,599){
            height: 100%;
        }
    }
    .slick-arrow{
        background-color: $primary-brown;
        width: 50px;
        height: 50px;
        text-transform: uppercase;
        position:absolute;
        z-index: 1;
        top: 50%;
        right: 0;
        justify-content: center;
        align-items: center;
        color: white;
        letter-spacing: 2px;
        font-size: 8px;
        font-family: $gotham;
        cursor: pointer;
    }
    .left-arrow{
        left: 0;
    }
    .banner{
        @media (orientation:landscape) and (max-width: 767px) and (min-height:321px){
            padding-top: 70px;
        }
        @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
        height: 100%;
        }        
    }
    .banner-content{
        position: absolute;
        z-index: 2;
        bottom: 20%;
        color: white;
        @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
            position: relative;
            text-align: center;
            margin-top: 40px;
            color: black;
            font-size: $xsmall-font;
            margin-top: 40px;
            padding: 0 16px;
            
        }
        @include rwd(600,959){
            right: 2%;
            bottom: 2%;
            font-size: $xsmall-font;
        }
        @include rwd(960,1199){
            right: 5%;
        }
        @include rwd(1200,1439){
            right: 10%;
        }
        @include rwd(1440,3000){
            right: 20%;
        }
        @media (orientation:landscape) and (max-width: 767px){
            background: rgba(0,0,0,0.6);
            border-radius: 4px;
            padding: 12px;
            bottom: 80px;
        }
        h2{
            font-weight: 100;
            font-family: $bodoni-italic;
            font-style: italic;
            font-size: $large-font;
            @include md{
                font-size: $xlarge-font;
            }
        }
        .side-content{
            margin-top: 20px;
            margin-left: 30px;
        @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
            margin-left: 0;
        }
        @include md{
            margin-left: 90px;

        }
            h3{
                margin-bottom: 10px;
                font-weight: 200;
                font-family: $baskerville-thin;
            }
            p{
                font-weight: 200;
                font-family: $gotham;
                font-size: $xxsmall-font;
            }
        }
    }
    .left{
        @extend .banner-content;
        right: 0;
        left: 10%;
        bottom: 40%;
        @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
        left: 0;
        }
    }
    .right-necklace{
        bottom: 10%;
        right: 5%;
    }
}