*{
    margin: 0px; 
}

#div1 {
    height: 100vh; 
    z-index: 999; 
    position:fixed; 
    color: black; 
    background-color: #ccc;  
    -webkit-transition: width .5s; 
    transition: width .5s;
    overflow: hidden;
}

#div2 {
    position: absolute; 
    color: white; 
    background-color: black;  
    height: 100vh;  
    width: 100%; 
    z-index: 1; 
}              

.open {
    width: 100%;
}

.close {
    width: calc(0% + 50px); 
}